<div class="body-content">
  <div class="card">
    <div class="card-header">
      修改评论
    </div>
    <div class="card-body">
      <%= form_for [@post, @comment] do |f| %>
        <%= f.text_area :body, class: 'form-control', rows: 6 %>
        <%= f.submit '修改评论', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
