<ul class="navbar-nav mr-auto">
  <li class="nav-item"><a class="nav-link" href="/">帖子</a></li>
  <li class="nav-item"><a class="nav-link" href="/">图片</a></li>
  <li class="nav-item"><a class="nav-link" href="/">音乐</a></li>
</ul>
