<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

  </head>

  <body id="page-top" class="cv-body">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Personal Resume</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/cv.png" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">简介</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">经历</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">技能</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">展示</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h4 class="mb-0 cv">王德曦
            <span class="text-primary">Ruby开发</span>
          </h4>
          <div class="subheading mb-5">

          </div>

          <ul class="fa-ul mb-5">
            <li>
              <i class="fa-li fa fa-circle text-warning"></i>
                男 · 本科 · 电子信息科学与技术 · 2008-2012</li>
            <li>
              <i class="fa-li fa fa-circle text-warning"></i>
                TEL:    13198575167 </li>
            <li>
              <i class="fa-li fa fa-circle text-warning"></i>
                Email:  dxgnaw@gmail.com</li>
          </ul>

          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="http://isohybrid.cnblogs.com/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-share-square fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/Lumuy">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h4 class="mb-5 cv">经历</h4>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h6 class="mb-0 cv"><b>移动开发</b></h6>
              <div class="subheading mb-3">德加才科技有限公司</div>
              <p>开发Bitpie安卓和iOS; 开发和维护比太钱包安卓和iOS</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2015-12 - 2016-8</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h6 class="mb-0 cv">QA工程师</h6>
              <div class="subheading mb-3">劲胜精密组件股份有限公司</div>
              <p>负责生产线产品质量检测；过滤规格，光滑度， 色彩等不合格产品；及时发现故障并通知维修人员。</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2014-3 - 2015-8</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h6 class="mb-0 cv">erlang开发</h6>
              <div class="subheading mb-3">北京红岩凯鹏x信息科技有限公司</div>
              <p>负责Linux服务器部署，维护和优化；搭建应用服务；开发和维护APP微友服务端代码，使用Erlang和MochiWeb框架</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2012-02 - 2013-04</span>
            </div>
          </div>

        </div>

      </section>


      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h4 class="mb-5 cv">技能</h4>

          <div class="subheading mb-3"></div>


          <div class="subheading mb-3"></div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
                熟悉linux</li>
            <li>
              <i class="fa-li fa fa-check"></i>
                掌握Ruby和Rails</li>
            <li>
              <i class="fa-li fa fa-check"></i>
                了解Html, Javascript, css</li>
            <li>
              <i class="fa-li fa fa-check"></i>
                熟练阅读英文文档以及良好的自学能力</li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h4 class="mb-5 cv">Demo &amp; Rails相关</h4>
          <ul class="fa-ul mb-5">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              实现用户登陆和注册功能</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              实现发送手机验证码以及验证注册功能</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              实现post和comment功能</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              成功利用Capstrano部署</li>
            <li>
          </ul>

          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="http://plsky.cc">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-share-square fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/Lumuy/plsky">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-git-square fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

    </div>

  </body>

</html>
