<div class="alert alert-danger" role="alert"> I love you, mother</div>

<%= image_tag("/assets/logo.jpeg") %>

<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>欢迎</h1>
      <p>开始注册</p>
      <p>
        <%= link_to '注册', new_user_registration_path,
          class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>
