$login-background-color:  #2d2c41;
$gray-color:              #ECEFF1;
$dark-color:              #606468;
$light-color:             #F0F0F0;
$line-color:              #795548;
$hover-color:             #DCEDC8;
$post-title-color:        #795548;

$vrfy-text-color:         #00C853;
$vrfy-bg-color:           #607D8B;
$vrfy-border-color:       #999999;

$cap-bg-color:            #BCAAA4;
$usr-bg-color:            #B0BEC5;

$footer-bg-color:         #313131;
$footer-color:            #c6c6c6;

$header-color:            #fff;
$header-bg-color:         #222;
