@import "bootstrap";
@import "font-awesome";

@import "colors";
@import "vars";
@import "resume";
@import "login";
@import "header";
@import "post";


body {
  // padding-top: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  background: #e9eaed;
  color: $black;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  letter-spacing: .03em;
}
