@import "bootstrap";
@import "font-awesome";

@import "colors";
@import "vars";
@import "resume";
@import "plsky";
@import "login";


body {
  background: #e9eaed;
  color: $black;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  letter-spacing: .03em;
}
