.signupbox
{
  margin: 10px auto;
  padding: 20px;
  width: 300px;
  background-color: $gray-color;
  border-radius: 12px;
}

.signupbox h1
{
  font-size: 23px;
  margin: 10;
  text-align: center;
  padding: 10px 0 10px 0;
}

.signupbox .form-group input
{
  margin: 10px auto;
  wdith: 100%;
  background-color: $usr-bg-color;
}

.signupbox .validate-phone-number
{
  margin: 10px auto;
  width: 100%;
  padding-top: 20px;

  button
  {
    font-size: 12px;
  }
}

.login-submit {
  padding-top: 10px;
  text-align: center;

  button {
    width: 40px;
  }
}

// verify style
.signupbox .validate-phone-number button:disabled {
  border: 1px solid $vrfy-border-color;
  background-color: $vrfy-bg-color;
  color: $vrfy-text-color;
}

.signupbox .validate-phone-number .cap-style {
  background-color: $cap-bg-color;
}

.signupbox .rucaptcha_image_box img {
  width: 100%;
  height: fit-content;
}

// signup error style
.signupbox .error_messages
{
  font-size: 12px;

  ul {
    padding: 0;
    margin: 0;
  }

  ul li {
    font-size: 12px;
    white-space: nowrap;
    list-style: none;
    text-decoration: none;
  }
}
