
<header class='site-header'>
  <div class="sh-logo">
    <a href="/"><b class="text-primary">Pl</b>sky</a>
  </div>
  <div class="sh-mobile-ctrl">
    <i class='fa fa-bars fa-2x'></i>
  </div>
  <div class="sh-search">
    <form>
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button type="button" name="button" class="header-search-icon">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
  <div class="sh-menu">
    <ul>
      <li><a href='#'>音乐</a></li>
      <li><a href='#'>图片</a></li>
      <li><a href='#'>资料</a></li>
      <li class="shm-dropdown">
        <a href='#'>
          <!-- <%= fa_icon 'fas fa-ellipsis-h', text: 'profiles' %> -->
          <div>
            <span class='icon-dot'></span>
            <span class='icon-dot'></span>
            <span class='icon-dot'></span>
          </div>
          profiles
        </a>
        <div class="shm-btn-dropdown" id='profile-dropdown'>
          <ul>
            <li><a href='#'>音乐</a></li>
            <li><a href='#'>图片</a></li>
            <li><a href='#'>资料</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</header>

<script type="text/javascript">

</script>
